{% extends 'layout.html' %}

{% block body %}
	<div id="smartFan">
      <h1>SMART LIGHT CONTROLLER</h1>
    </div>

    <div id="ardTemp">
      <h3>Distance from Arduino <br> {{arduinoDistance}}</h3>
    </div>

    <div id="fanStatus">
      <h3>Light status <br> {{arduinoLightStatus}}</h3>
    </div>

    <div class="wrapper">
      <form action="/changeCity" method="post" novalidate id="cityWrap">
        <h2 > Distance Threshold <br> {{arduinoThreshold}} </h2>
        <p>...</p>
      </form>

     <!-- <h3>Temperature outside:</h3>

      <form action="/changeDistanceThreshold" method="post" novalidate>
        <h3> <br>...</h3>
        <p>...</p>
      </form> -->
  </div>
	


      <table border = 1>
         <thead>
            <td>distance</td>
            <td>date</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["distance"]}}</td>
               <td>{{row["date"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">home</a>


{% endblock %}
    

