{% extends 'layout.html' %}

{% block body %}
	<div id="smartFan">
      <h1>SMART LIGHT CONTROLLER</h1>
    </div>

    <div id="ardTemp">
      <h3>Distance from Arduino <br> {{arduinoDistance}}</h3>
    </div>

    <div id="fanStatus">
      <h3>Light status <br> {{arduinoLightStatus}} </h3>
    </div>

    <div id="threshold">	
      <h3>Current threshold: <br> {{ arduinoThreshold}} </h3>
    </div>

      <form action="/changeDistanceThreshold" method="post" novalidate>
        <h3>{{ formDistance.distanceThreshold.label }} <br> {{formDistance.distanceThreshold(size=32) }} </h3>
        <p>{{ formDistance.submit() }}</p>
      </form> 
  </div>
	

{% endblock %}
    

