{% extends 'layout.html' %}

{% block body %}
	<div id="smartFan">
      <h1>SMART LIGHT CONTROLLER</h1>
    </div>

    <div id="ardTemp">
      <h3>Distance from Arduino <br> {{ArduinoDistance}}</h3>
    </div>

    <div id="fanStatus">
      <h3>Light status <br> {{ArduinoLightStatus}}</h3>
    </div>

    <div class="wrapper">
      <form action="/changeCity" method="post" novalidate id="cityWrap">
        <h2 > Distance Threshold <br> {{ArduinoThreshold}} </h2>
        <p>...</p>
      </form>

     <!-- <h3>Temperature outside:</h3>

      <form action="/changeDistanceThreshold" method="post" novalidate>
        <h3> <br>...</h3>
        <p>...</p>
      </form> -->
  </div>
{% endblock %}
    

