<!doctype html>
<html lang="en">
  <head>
    <title>Smart Light Controller</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">-->
  </head>
  <body>
  	<div class="nav">
	  <a href="/">Home</a>
	  <a href="/list">Incidents</a>
	</div>
  	{% block body %}{% endblock %}

  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>