{% extends 'layout.html' %}

{% block body %}
      <table border = 1>
         <thead>
            <td>distance</td>
            <td>date</td>
	    <td>image</td>	
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["distance"]}}</td>
               <td>{{row["date"]}}</td>
	       <td><a href="/image">view</a></td>	
            </tr>
         {% endfor %}
      </table>
      <div class="wrapper">
	<form action ="/list" method="post" novalidate>
	<h2>{{ formQuery.numResults.label }} <br> {{ formQuery.numResults }}</h2>
	<p> {{ formQuery.submit() }} </p>
      </div> 	
	
      
{% endblock %}
